@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1e5799, #2989d8);
  background-repeat: no-repeat;
  background-size: cover;
}



h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 18px;
  margin-bottom: 30px;
}

.container {
  
  max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}
.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.not-registered {
  margin-top: 20px;
  text-align: center;
}

.modal {
  
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.modal-container {
  z-index: 200;
  max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


/* topbar */
.sticky-top-bar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
}

.logo img {
  height: 40px;
}

.right-section {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 25px;
}

.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-mode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Additional styles to enhance the appearance */
.top-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #286090;
}

.slider {
  cursor: pointer;
}

.slider:before {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* auth page */

.login-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}









/* Additional styles to enhance the appearance */
.top-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #286090;
}





    .btn:hover {
      background-color: #0056b3;
    }

    .company-logos {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .company-logo {
    vertical-padding: 20px;
      font-size: 40px;
      margin: 0 10px;
      color: #fff;
    margin-bottom: 60px;
    }
    .feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.carousel-container {
  width: 80%;
  margin:  auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  
}

.carousel {
  display: flex;

  
}

.carousel-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: center;


}

@media screen and (max-width: 900px) {
  .carousel-container {
    display: block;
    overflow-x: hidden;
  }
  
  .carousel-container {
    width: 80%;
    margin: auto;
    flex: none;
  }

  .carousel-card {
    margin: auto;
    margin-top: 20px;
  }
}

.carousel-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.carousel-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.carousel-card p {
  font-size: 16px;
  color: #666;
}

   

    
    .footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-links a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.footer-location {
  margin-top: 10px;
  color: #777;
}

.footer-copyright {
  margin-top: 10px;
  color: #777;
}
.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #0a84ff;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}

code {
	border-radius: 5px;
	border-width: 1px;
	font-family: sans-serif priority;
	font-size: 10px priority;
	font-weight: 500;
	line-height: 1rem;
	padding: 0.125rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	
	
}

.example-card pre {
	background-color: #F7F7F8;
	border-radius: 0.5rem;
	font-size: 0.98rem;
	line-height: 1.25rem;
	margin-bottom: 1rem;
	padding: 1rem;
	white-space: pre-wrap;
  margin-top: 1rem;
}
.example-card pre strong {
	font-size: 1rem;
}

@layer components {
	.preferenceBtn {
		@apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex  ml-auto p-1 mr-2 hover:text-gray-600;
	}

	.preferenceBtn-tooltip {
		@apply absolute w-auto p-2 text-sm m-2  min-w-max translate-x-3  right-0 top-5 z-10 rounded-md shadow-md
		text-black bg-gray-200  origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
	}
}